
:root{
    --green:#27ae60;
    --black:#192a56;
    --light-color:#666;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
}

*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}
html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}

header {
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    background: #fff;
    padding: 1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: var(--box-shadow);
    
}

table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
    width: 80%;
    margin: 1rem 8rem;
    text-align: center;
}
th, td {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 1rem 3rem;
     
}

section {
    padding: 2rem 9%;
}

section:nth-child(even){
    background: #eee;
}

header .logo {
    color: var(--black);
    font-size: 2.5rem;
    font-weight: bolder;
}

header .logo i {
    color: var(--green);
}

header .navbar a {
    font-size: 1.7rem;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    color:var(--light-color);
}

header .navbar a.active,
header .navbar a:hover{
    color: #fff;
    background: var(--green);
}

header .icons i,
header .icons a{
    cursor: pointer;
    margin-left: .5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    width: 4.5rem;
    text-align: center;
    font-size: 1.7rem;
    color: var(--black);
    border-radius: 50%;
    background: #eee;
}

header .icons i:hover,
header .icons a:hover{
    color: #fff;
    background: var(--green);
    transform: rotate(360deg);
}

header .icons #menu-bars {
    display: none;
}

.sub-heading{
    text-align: center;
    color: var(--green);
    font-size: 2rem;
    padding-top: 1rem;
}

.heading{
    text-align: center;
    color: var(--black);
    font-size: 3rem;
    padding-top: 2rem;
    text-transform: uppercase;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.7rem;
    color: #fff;
    background: var(--black);
    border-radius: .5rem;
    cursor: pointer;
    padding: 2rem 3rem;
    
}

.btn:hover {
    background: var(--green);
    letter-spacing: .1rem;
}

@media (max-width:991px){
    html{
        font-size: 55%;
    }
    header{
        padding: 1rem 2rem;
    }
    section {
        padding: 1rem 2rem;
    }
}

@media (max-width:768px){
    header .icons #menu-bars {
        display: inline-block;
    }

    header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #fff;
        border-top: .1rem solid rgba(0,0,0,.2);
        border-bottom: .1rem solid rgba(0,0,0,.2);
        padding:1rem;
        clip-path: polygon(0 0,100% 0,100% 0,0 0);
    }

    header .navbar.active{
        clip-path: polygon(0 0,100% 0,100% 100%,0% 100%);
    }


    header .navbar a{
        display: block;
        padding: 1.5rem;
        margin: 1rem;
        font-size: 2rem;
        background: #eee;
    }

    #search-form #search-box{
        width: 90%;
        margin: 0 1rem;
    }

}
@media (max-width:450px){
    html{
        font-size: 50%;
    }
    .news .box-container .box img{
        height: auto;
        margin: 1rem 0;
    }
    .request form .inputBox .input{
        width: 100%;
    }
    
}
.main .image .box{
    padding: 2.5rem;
    background: #fff;
    border-radius: .5rem;
    border: .1rem solid rgba(0,0,0,.2);
    box-shadow: var(--box-shadow);
    position:relative;
    overflow:hidden;
    text-align: center;   
}

.main .image .box img{
    height: 40rem;
    width: 80rem;
    margin: 0 10% 0;
    
}

.main .box-container .box p{
    font-size: 1.5rem;
    width: 80%;
    border-bottom: .1rem solid #fff;
    padding: 1rem 0;
    color: var(--light-color);
    text-transform: none;
    background: none;
    text-align: center;
    margin: 0 10%;
}

 
#search-form {
    position: fixed;
    top: -110%;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1004;
    background: rgba(0,0,0,.8);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
}

#search-form.active{
    top:0;
}

#search-form #search-box{
    width: 50rem;
    border-bottom: .1rem solid #fff;
    padding: 1rem 0;
    color: #fff;
    font-size: 3rem;
    text-transform: none;
    background: none;
}

#search-form #search-box::placeholder{
    color:#eee;
}

#search-form #search-box::-webkit-search-cancel-button{
    -webkit-appearance: none;
}

#search-form label {
    color: #fff;
    cursor: pointer;
    font-size: 3rem;
}

#search-form label:hover{
    color: var(--green);
}

#search-form #search-close{
    position: absolute;
    color: #fff;
    cursor: pointer;
    top: 2rem;
    right: 3rem;
    font-size: 5rem;
}

.news .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(33rem,1fr));
    gap: 1.5rem;
}

.news .box-container .box{
    padding: 2.5rem;
    background: #fff;
    border-radius: .5rem;
    border: .1rem solid rgba(0,0,0,.2);
    box-shadow: var(--box-shadow);
    position:relative;
    overflow:hidden;
    text-align: center;   
}

.news .box-container .box .fa-heart,
.news .box-container .box .fa-eye{
    position: absolute;
    top: 1.5rem;
    background: #eee;
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: var(--black);
}

.news .box-container .box .fa-heart{
    right: -15rem;
}

.news .box-container .box .fa-eye{
    left: -15rem;
}

.news .box-container .box .fa-heart:hover,
.news .box-container .box .fa-eye:hover{
    background: var(--green);
    color: #fff;
}

.news .box-container .box:hover .fa-heart{
    right: 1.5rem;
}

.news .box-container .box:hover .fa-eye{
    left: 1.5rem;
}

.news .box-container .box img{
    height: 17rem;
    margin: 1rem 0;
}

.news .box-container .box h3{
    color: var(--black);
    font-size: 2.5rem;    
}

.news .box-container .box h3{
    color: var(--black);
    font-size: 2.5rem;    
}

.news .box-container .box .image{
    flex: 1 1 45rem;
}

.news .box-container .box .content{
    flex: 1 1 45rem;
}

.main {
    margin-top: 7rem;
    margin-bottom: 7rem ;
}

.about .row{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
}

.about .row .image{
    flex: 1 1 45rem;
}

.about .row .image img{
    width: 100%;
}

.about .row .content{
    flex: 1 1 45rem;
}

.about .row .content h3{
    color: var(--black);
    font-size: 4rem;
    padding: .5rem 0;
}

.about .row .content p{
    color: var(--light-color);
    font-size: 1.5rem;
    padding: .5rem 0;
    line-height: 2;
}

.about .row .content .icons-container{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 1rem 0;
    margin-top: .5rem;
}

.about .row .content .icons-container .icons{
    background: #eee;
    border-radius: .5rem;
    border: .1rem solid rgba(0,0,0,.2);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex: 1 1 15rem;
    padding: 1.5rem 1rem;
}

.about .row .content .icons-container .icons i{
    font-size: 2.5rem;
    color: var(--green);
}
 
.about .row .content .icons-container .icons span{
    font-size: 1.5rem;
    color: var(--black);
}

.knowledge .slide{
    padding: 2rem;
    box-shadow: var(--box-shadow);
    border: .1rem solid rgba(0,0,0,.2);
    border-radius: .5rem;
    position: relative;
}

.knowledge .slide .fa-quote-right{
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 6rem;
    color: #ccc;
}

.knowledge .slide .user{
    display: flex;
    gap: 1.5rem;
    align-items: center;
    padding-bottom: 1.5rem;
}

.knowledge .slide .user img{
    height: 7rem;
    width: 7rem;
    border-radius: 10%;
    object-fit: cover;
}

.knowledge .slide .user i{
    font-size: 1.3rem;
    color: var(--green);
}

.knowledge .slide p {
    font-size: 1.5rem;
    line-height: 1.8;
    color: var(--black);
}

.knowledge .slide h3 {
    font-size: 2.2rem;
    line-height: 1.8;
    color: var(--green);
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
    gap: 1.5rem;
}

.footer .box-container .box h3{
    padding: .5rem 0;
    font-size: 2.5rem;
    color: var(--black);
}

.footer .box-container .box a{
    display: block;
    padding: .5rem 0;
    font-size: 2.5rem;
    color: var(--black);
}

.footer .box-container .box a:hover{
    color: var(--green);
    text-decoration: underline;
}

.footer .credit{
    text-align: center;
    border-top: .1rem solid rgba(0,0,0,.1);
    font-size: 2rem;
    color: var(--black);
    padding: .5rem;
    padding-top: 1.5rem;
    margin-top: 1.5rem;
}

.footer .credit span{
    color: var(--green);
}

#request-form .row #student-list .btn{
    width: 15rem;
    background: #fff;
    color: rgba(0, 0, 0, 0.8);
}

.request form{
    max-width: 990rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    border: .1rem solid rgba(0,0,0,.2);
    background: #fff;
    padding: 1.5rem;
    margin: 0 auto;
}


.request form .inputBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.request form .inputBox .input{
    width: 49%;
}

.request form .inputBox .input span{
    display: block;
    padding: .5rem 0;
    font-size: 1.5rem;
    color: var(--light-color);
}

.request form .inputBox .input input,
.request form .inputBox .input textarea{
    background: #eee;
    border-radius: .5rem;
    padding: 1rem;
    font-size: 1.6rem;
    color: var(--black);
    text-transform: none;
    margin-bottom: 1rem;
    width: 100%;
}

.request form .inputBox .textarea{
    height: 20rem;
    resize: none;
}

.request form .inputBox .input input:focus,
.request form .inputBox .input textarea:focus{
    border: .1rem solid var(--green);
}

.production .slide{
    padding: 2rem;
    box-shadow: var(--box-shadow);
    border: .1rem solid rgba(0,0,0,.2);
    border-radius: .5rem;
    position: relative;

    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
}

.production .slide .fa-quote-right{
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 6rem;
    color: #ccc;
}

.production .slide .user{
    display: flex;
    gap: 1.5rem;
    align-items: center;
    padding-bottom: 1.5rem;
    flex: 1 1 20rem;
}

.production .slide .content{
    flex: 1 1 90rem;
}

.production .slide .user img{
    height: 20rem;
    width: 20rem;
    border-radius: 10%;
    object-fit: cover;

}

.production .slide .user i{
    font-size: 1.3rem;
    color: var(--green);
}

.production .slide p {
    font-size: 1.5rem;
    line-height: 1.8;
    color: --;
}

.products .image .box{
    padding: 1.5rem;
    background: #fff;
    border-radius: .5rem;
    border: .1rem solid rgba(0,0,0,.2);
    box-shadow: var(--box-shadow);
    position:relative;
    overflow:hidden;
    text-align: center;   
}

.products .image .box img{
    height: 60rem;
    width: 50rem;
    margin: 0 17% 0;
    
}

.products .box-container .box p{
    font-size: 1.5rem;
    width: 80%;
    border-bottom: .1rem solid #fff;
    padding: 1rem 0;
    color: var(--light-color);
    text-transform: none;
    background: none;
    text-align: center;
    margin: 0 10%;
}

.products .box-container .box h3{
    font-size: 2rem;
    width: 80%;
    border-bottom: .1rem solid #fff;
    padding: 1rem 0;
    color: var(--light-color);
    text-transform: none;
    background: none;
    margin: 0 10%;
}

.products h2{
    font-size: 2.5rem;
    width: 80%;
    padding: 1rem 0;
    color: var(--green);
    text-transform: none;
    background: none;
    margin: 0 10%;
}

#request-form {
    position: fixed;
    top: -110%;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1004;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
}

#request-form.active{
    top:0;
}

#request-form #request-box{
    width: 50rem;
    border-bottom: .1rem solid #fff;
    padding: 1rem 0;
    color: #fff;
    font-size: 3rem;
    text-transform: none;
    background: none;
}

#request-form #request-box::placeholder{
    color:#eee;
}

#request-form #request-box::-webkit-search-cancel-button{
    -webkit-appearance: none;
}

#request-form table {
    width: 120rem;
    cursor: pointer;
    font-size: 1rem;
    border-collapse: collapse;
    color: #fff;

}


#request-form table:hover{
    color: var(--green);
}

#request-form .row h2{
    font-size: 3rem;
    padding: 1rem 8rem;
    color: var(--green);
}

#request-form .row  #request-close{
    position: absolute;
    color: #fff;
    cursor: pointer;
    top: 2rem;
    right: 3rem;
    font-size: 5rem;
}